.embla {
    width: 100%;
    height: auto;
    --slide-spacing: 5rem;
    --slide-size: 70%;
    max-width: 60rem;
    margin: auto;
    padding: 0 1rem;
}

.embla__viewport {
    overflow: hidden;
    width: 100%;
    aspect-ratio: 16 / 9;
    border-radius: 0.5rem;
}

.embla__container {
    display: flex;
    touch-action: pan-y pinch-zoom;
    margin-left: calc(var(--slide-spacing) * -1);
    height: 100%;
}

.embla__slide {
    height: 100%;
    flex: 0 0 var(--slide-size);
    min-width: 0;
    padding-left: var(--slide-spacing);
    position: relative;
    overflow: hidden;
    border-radius: 0.5rem;
    margin-left: 0.5rem;
    margin-right: 0.5rem;
}

.embla__slide:not(.is-selected) {
    cursor: pointer;
    opacity: 0.6;
    transition: opacity 0.3s ease-in-out;
    margin-left: 0.5rem;
    margin-right: 0.5rem;
}

.embla__slide:not(.is-selected):hover {
    opacity: 0.9;
}
